.navigation__container{
    background-color: var(--nav-color);

}
.navbar-light .navbar-nav .nav-link {
    color: var(--font-color) !important;
}
.navbar-light .navbar-brand {
    color: var(--font-color) !important;
}
.navbar-light .navbar-toggler-icon {
    filter: invert(1);
}
.links a:hover{
    background-color: var(--font-color-hover);
}
.tsparticles-canvas-el{
    /* background-color: black;
    color: white; */
    height: 96vh !important;
    color: white;

}
.icon__cv {
    color: white;
    font-size: 23px;
}
.text__hide{
    visibility:hidden;
}
